body
{
	margin: 0px;
	padding:0px;
	background-image:url("background12.png");
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#DB4437;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


ul.topnav li.right {float: right;}

#myModal{
  margin-top:10%;
  }
  .model-header-color
  {
    text-align: center;
  }

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
.modal-dialog{
    position: relative;
    display: table; 
    
    width: auto;
    min-width: 400px;   
}    
 .margin-on-tab
 {
 margin-top:50px;
 }
     .fond{position:absolute;padding-top:85px;top:0;left:0; right:0;bottom:0;
 background-color:#00506b;}

.img1
{
	wight:40px;
	height:30px;
}
row.style_prevu_kit
{
    display:inline-block;
    border:0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.style_prevu_kit:hover
{
    box-shadow: 0px 0px 50px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.0);
    -ms-transition: all 150ms ease-in;
    -ms-transform: scale(1.0);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.0);
    transition: all 200ms ease-in;
    transform: scale(1.0);
}